body { 
	background-color: #efeee7;
	font-family: "Georgia" ,"Times New Roman" , serif
	color: #333333;
	margin: 0px;
	padding: 0px;
	line-height: 150%;
}

h1 {
	background-color:  #333333;
	color: #eee;
	font-size: 28px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px;
}

h2 { 
	font-size: 24px;
 }

 a {
 	color: #d21034;
 }

 .container {
 	width: 1024px;
 	margin: 0 auto;
 }

#bio-image {
	width: 200px;
	height: 200px;
	margin: 10px;
}

#main-bio {
	width: 70%;
}

#contact-info {
	width: 30%;
}